.founder-resources-container {
  padding: 20px;
  background-color: #f1f8ff;
  border-radius: 15px;
  max-width: 3000px; 
  margin: 0 auto;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.search-filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
}

.filter-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn.active {
  background-color: #0056b3;
}

.filter-btn:hover {
  background-color: #0056b3;
}

.resource-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px; 
}

.resource-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.resource-card:hover {
  transform: scale(1.03);
}

.resource-card-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
}

.resource-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.resource-card-body {
  padding: 15px;
}

.download-btn {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #218838;
}

/*email section*/
.email-templates-section {
  padding-top: 20px;
}

.email-templates-section h3 {
  margin-top: 0;
}

.email-template-card {
  background-color: #e8f0fe;
  border: 1px solid #007bff;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-template-card:hover {
  background-color: #d0e2ff;
}

.view-template-btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-template-btn:hover {
  background-color: #0056b3;
}

.resource-card.expanded {
  background-color: #f0f8ff; /* Different color for expanded view */
  padding: 20px;
  transition: max-height 0.3s ease;
  max-height: 500px; /* Set max height for expansion */
  overflow: auto;
}